<div class="container register-container mt-5">
  <h3 class="text-center register-title">Patient Registration</h3>

  <form [formGroup]="form" (ngSubmit)="register()">
    <div class="mb-3"><input class="form-control" formControlName="name" placeholder="Full Name" /></div>
    <div class="mb-3"><input class="form-control" formControlName="email" placeholder="Email" type="email" /></div>
    <div class="mb-3"><input class="form-control" formControlName="password" placeholder="Password" type="password" /></div>
    <div class="mb-3">
        <input class="form-control" formControlName="contactNumber" placeholder="Contact Number" required />
    </div>
    <div class="mb-3">
        <input class="form-control" formControlName="dateOfBirth" type="date" placeholder="Date of Birth" required />
    </div>
    <div>
      <select class="form-select" formControlName="gender">
        <option value="" disabled selected>Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>

    <button class="btn btn-success w-100" [disabled]="form.invalid">Register</button>

    <!-- Add a link to login -->
    <div class="mt-3 text-center">
      <span>Already registered? </span>
      <a [routerLink]="['/patient-login']" style="color: #b71c1c;">Login here</a>
    </div>

  </form>


</div>
    